@using DemoCore.Web.Startup
@using DemoCore.GoodsManage.Dto
@using DemoCore.Authorization
@model List<CategoryListDto>
@{
    ViewBag.CurrentPageName = PageNames.GoodsManage; // The menu item will be active for this page.
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/view-resources/Views/GoodsManage/Categroy/list.js"></script>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("GoodsManage")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Title")</th>
                            <th>@L("Tenants")</th>
                            <th>@L("Memo")</th>
                            <th>@L("CreationTime")</th>
                            <th>@L("Operate")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.TenantId</td>
                                <th>@item.Memo</th>
                                <th>@item.CreationTime</th>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit" data-id="@item.Id" data-toggle="modal" data-target="#EditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        @if (IsGranted(PermissionNames.GoodsCategoryDetele))
                                        {
                                            <li>
                                                <a href="#" class="waves-effect waves-block delete" data-id="@item.Id" data-name="@item.Title">
                                                    <i class="material-icons">delete_sweep</i>@L("Delete")
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#CreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("Create")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="CreateForm" role="form" novalidate class="form-validation" method="post">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Title" type="text" name="Title" required maxlength="20" minlength="2" class="validate form-control">
                                    <label for="Title" class="form-label">@L("Title")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea id="Memo" name="Memo" class="validate form-control"></textarea>
                                    <label for="Memo" class="form-label">@L("Memo")</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>